html,
body,
.container {
	height: 100%;
	width: 100%;
	margin: 0;
	font-family: "Roboto";
	color: #333333;
}

.table-container {
	border-bottom: 2px solid #9e9e9e;
	padding: 20px;
	background: #f7f7f7;
}

.table-name {
	margin: 0;
	margin-bottom: 10px;
	font-size: 24px;
	text-align: center;
}

.tea-card {
	padding: 10px;
	border: 2px solid #729c55;
	border-radius: 10px;
	margin: 10px;
	margin-top: 20px;
	background: #ffffff;
	max-width: 300px;
	width: 100%;
	position: relative;
}

.tea-card.with-rating {
	padding-top: 30px;
}

.tea-name {
	margin: 0;
	margin-bottom: 10px;
	font-size: 20px;
	color: #729c55;
	text-align: center;
}

.table-data {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tea-category-icon-container {
	position: absolute;
	top: -14px;
	right: -12px;
	background: white;
	border: 2px solid #729c55;
	border-radius: 50%;
	width: 35px;
	height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tea-category-icon {
	width: 20px;
}

/* TODO: refactor styles by parent category class */
.tea-card.tea-category-green,
.tea-card.tea-category-green .rating-icon-wrapper {
	border-color: #009245;
}

.tea-category-icon-container.tea-category-green {
	border-color: #009245;
}

.tea-category-icon-container.tea-category-green .tea-category-icon {
	fill: #009245;
}

.tea-card.tea-card.tea-category-red,
.tea-card.tea-card.tea-category-red .rating-icon-wrapper {
	border-color: #e0421b;
}

.tea-category-icon-container.tea-category-red {
	border-color: #e0421b;
}

.tea-category-icon-container.tea-category-red .tea-category-icon {
	fill: #e0421b;
}

.tea-card.tea-category-white,
.tea-card.tea-category-white .rating-icon-wrapper {
	border-color: #cccccc;
}

.tea-category-icon-container.tea-category-white {
	border-color: #cccccc;
}

.tea-category-icon-container.tea-category-white .tea-category-icon {
	fill: #cccccc;
}

.tea-card.tea-category-japanese,
.tea-card.tea-category-japanese .rating-icon-wrapper {
	border-color: #709200;
}

.tea-category-icon-container.tea-category-japanese {
	border-color: #709200;
}

.tea-category-icon-container.tea-category-japanese .tea-category-icon {
	fill: #709200;
}

.tea-card.tea-category-shu,
.tea-card.tea-category-shu .rating-icon-wrapper {
	border-color: #925c00;
}

.tea-category-icon-container.tea-category-shu {
	border-color: #925c00;
}

.tea-category-icon-container.tea-category-shu .tea-category-icon {
	fill: #925c00;
}

.tea-card.tea-category-shen,
.tea-card.tea-category-shen .rating-icon-wrapper {
	border-color: #436b26;
}

.tea-category-icon-container.tea-category-shen {
	border-color: #436b26;
}

.tea-category-icon-container.tea-category-shen .tea-category-icon {
	fill: #436b26;
}

.tea-card.tea-category-oolong,
.tea-card.tea-category-oolong .rating-icon-wrapper {
	border-color: #00b3ad;
}

.tea-category-icon-container.tea-category-oolong {
	border-color: #00b3ad;
}

.tea-category-icon-container.tea-category-oolong .tea-category-icon {
	fill: #00b3ad;
}

.tea-card.tea-category-others,
.tea-card.tea-category-others .rating-icon-wrapper {
	border-color: #80559c;
}

.tea-category-icon-container.tea-category-others {
	border-color: #80559c;
}
.tea-category-icon-container.tea-category-others .tea-category-icon {
	fill: #80559c;
}
.tea-tableware-container {
	display: flex;
	align-items: center;
	height: 40px;
}

.tableware-icon {
	margin: 0 5px;
}

.tableware-icon.clay {
	width: 40px;
	height: 40px;
}

.tableware-icon.porcelain {
	width: 40px;
	height: 40px;
}

.tableware-icon.glass {
	height: 28px;
}

.tea-rating-container {
	display: flex;
	align-items: center;
	position: absolute;
	justify-content: center;
	width: 100%;
	top: -14px;
	left: 0;
}

.rating-icon-wrapper {
	padding: 2px 5px;
	border: 2px solid;
	border-radius: 10px;
	background: white;
}

.rating-icon {
	height: 26px;
	width: 26px;
	margin-right: 3px;
	fill: none;
}

.rating-icon.filled {
	fill: #ffc107;
}

.tea-temperature-container {
	position: relative;
	margin: 5px 0;
}

.temperature-bar {
	height: 20px;
	border-radius: 12px;
	width: 100%;
	background: linear-gradient(to left, #ff0909, #f3481a 20%, #faba2c 50%, #00bcf2 100%);
	border: 1px solid #989898;
	position: relative;
	overflow: hidden;
}

.temperature-bar-overlap {
	height: 20px;
	border-radius: 12px;
	width: 40%;
	position: absolute;
	top: 0;
	right: 0;
	overflow: hidden;
}

.temperature-bar-overlap:before {
	content: "";
	position: absolute;
	margin: -1px;
	padding: 11px;
	border-radius: 50%;
	box-shadow: 0 0 0 300px #ffffff;
}

.temperature-value {
	text-align: center;
	font-weight: bold;
	position: absolute;
	width: 100%;
	left: 0;
	top: 2px;
}

.tea-brewing-time-container {
	position: relative;
	margin: 5px 0;
}

.time-bar {
	height: 20px;
	border-radius: 12px;
	width: 100%;
	border: 1px solid #989898;
	position: relative;
	overflow: hidden;
}

.time-bar-overlap {
	height: 20px;
	background: #9bdaff;
	border-radius: 12px;
}

.time-value {
	text-align: center;
	font-weight: bold;
	position: absolute;
	width: 100%;
	left: 0;
	top: 2px;
}
