html, body, .container {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Roboto';
}

.table-container {
    border-bottom: 2px solid #9E9E9E;
    padding: 20px;
    background: #f7f7f7;
}

.table-name {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: center;
}

.tea-card {
    padding: 10px;
    border: 2px solid #729c55;
    border-radius: 10px;
    margin-bottom: 10px;
    background: #ffffff;
}

.tea-name {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    color: mediumseagreen;
}